.react-tags {
  position: relative;
  padding: 2px 0 0 6px;
  border-radius: 1px;

  /* shared font styles */
  font-size: 1em;

  /* clicking anywhere will focus the input */
  cursor: text;
}

.react-tags__selected {
  display: inline;
}
.react-tags__selected-tag:before {
  content: "\2022";
  margin-right: 3px;
}
.react-tags__selected-tag:nth-child(1):before {
  color: #00e5ff;
}
.react-tags__selected-tag:nth-child(2):before {
  color: #7c4dff;
}
.react-tags__selected-tag:nth-child(3):before {
  color: #26a69a;
}
.react-tags__selected-tag:nth-child(4):before {
  color: #0091ea;
}
.react-tags__selected-tag:nth-child(5):before {
  color: #e040fb;
}
.react-tags__selected-tag:nth-child(6):before {
  color: #689f38;
}

.react-tags__selected-tag {
  display: inline-block;
  box-sizing: border-box;
  margin: 0.5rem 0.8rem 0.8rem 0rem;
  padding: 0.08em 0.5em 0.16em;
  border: 1px solid hsla(0, 0%, 0%, 0.8);
  border-radius: 0.4em;
  background: none;
  outline: none;

  /* match the font styles */
  font-size: 0.85em;
  font-weight: bold;
  line-height: inherit;
}

.react-tags__selected-tag:after {
  content: '\2715';
  color: hsla(0, 0%, 0%, 0.8);
  margin-left: 8px;
}

.react-tags__selected-tag:hover,
.react-tags__selected-tag:focus {
  font-weight: 900;
}
.react-tags__selected-tag:hover:after,
.react-tags__selected-tag:focus:after {
  content: '✖';
}

.react-tags__search {
  display: inline-block;

  /* match tag layout */
  padding: 7px 2px;

  /* prevent autoresize overflowing the container */
  max-width: 100%;
}

@media screen and (min-width: 30em) {
  .react-tags {
    margin-left: 15%;
    width: 70%;
  }

  .react-tags__search {
    /* this will become the offsetParent for suggestions */
    position: relative;
  }

}

.react-tags__search input {
  /* prevent autoresize overflowing the container */
  max-width: 100%;

  /* remove styles and layout from this element */
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
  text-decoration: underline;
}

.react-tags__search input::-ms-clear {
  display: none;
}

.react-tags__suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 100;
}

@media screen and (min-width: 30em) {

  .react-tags__suggestions {
    width: 240px;
  }

}

.react-tags__suggestions ul {
  margin: 4px -1px;
  padding: 0;
  list-style: none;
  background: white;
  border-radius: 0.4em;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.react-tags__suggestions li {
  margin: 0;
  padding: 6px 8px;
  border-bottom: 1px solid #ddd;
}

.react-tags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

.react-tags__suggestions li:hover {
  cursor: pointer;
  background: #eee;
}

.react-tags__suggestions li.is-active {
  background: #eee;
}

.react-tags__suggestions li.is-disabled {
  opacity: 0.5;
  cursor: auto;
}