.tiny-table table {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.tiny-table th,
.tiny-table td {
  text-align: center;
}
.tiny-table th:first-child,
.tiny-table td:first-child {
    padding-left: 0.3rem;
}
.tiny-table th:last-child,
.tiny-table td:last-child {
  padding-right: 0.3rem;
}
@media only screen and (max-width: 480px) {
  .full-table th:nth-child(2),
  .full-table td:nth-child(2),
  .full-table th:nth-child(3),
  .full-table td:nth-child(3),
  .full-table th:nth-child(4),
  .full-table td:nth-child(4) {
    display: none;
  }
}